<div class="containerForm">
  <h1>Edit your Lenses</h1>

  <div class="row">
    <div class="col-6-sm">
      <%= simple_form_for(@accessory) do |f| %>
        <%= f.label :category %>
        <%= f.select :category, Lens::CATEGORIES, prompt: 'Select Category' %>
        <%= f.input :make, placeholder: 'Add your lenses brand' %>
        <%= f.label :condition %>
        <%= f.select :condition, Lens::CONDITIONS, prompt: 'Select Condition' %>
        <%= f.input :price, placeholder: 'Add your price' %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Edit", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
</div>
