<div class="containerForm">
  <h1>Add your Products</h1>
  <div>
    <h6>Type:</h6>
    <%= link_to "Post a new camera", new_camera_path, class: "btn btn-warning" %>
    <%= link_to "Post a new accessory", new_accessory_path, class: "btn btn-warning" %>
    <%= link_to "Post a new lens", new_lense_path, class: "btn btn-warning" %>
  </div>

  <h2>Your Lens Specifications</h2>

  <%# New Lens simpleform %>
  <div class="row">
    <div class="col-6-sm">
      <%= simple_form_for(@lense) do |f| %>
        <%= f.label :category %>
        <%= f.select :category, Lense::CATEGORIES, prompt: 'Select category' %>
        <%= f.input :make, placeholder: 'Add your lenses brand' %>
        <%= f.label :lens_type %>
        <%= f.select :lens_type, Lense::LENS_TYPES, prompt: 'Select lens type' %>
        <%= f.label :lens_mount %>
        <%= f.select :lens_mount, Lense::LENS_MOUNTS, prompt: 'Select lens mount' %>
        <%= f.label :diameter, 'Diameter(mm)' %>
        <%= f.select :diameter, Lense::DIAMETERS, prompt: 'Select lens thread diameter [Select 0 if not applicable]' %>
        <%= f.label :condition %>
        <%= f.select :condition, Lense::CONDITIONS, prompt: 'Select condition' %>
        <%= f.input :description, placeholder: 'Add a description of the lens' %>
        <%= f.input :price, placeholder: 'Add your price' %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Create", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
</div>
