<div class="containerForm">
  <h1>Edit a booking</h1>

  <div class="row">
    <div class="col-6-sm">
      <%= simple_form_for(@booking) do |f| %>
        <%= f.input :comment, placeholder: 'Edit comment here' %>
        <%= f.label :status %>
        <%= f.select :status, Booking::STATUS, prompt: 'Select status' %>
        <%= f.submit "Edit Booking", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
</div>
