<div class="container mt-2 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                          <div class="text-center p-4"> <img id="main-image" src="https://i.etsystatic.com/7788774/r/il/09720e/991738063/il_fullxfull.991738063_sjmh.jpg" width="250" /> </div>
                          <div class="thumbnail text-center"> <img onclick="change_image(this)" src="https://i.etsystatic.com/7788774/r/il/09720e/991738063/il_fullxfull.991738063_sjmh.jpg" width="70"> <img onclick="change_image(this)" src="https://i.etsystatic.com/7788774/r/il/09720e/991738063/il_fullxfull.991738063_sjmh.jpg" width="70"> </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1">Back</span> </div> <i class="fa fa-shopping-cart text-muted"></i>
                            </div>
                            <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand"><%= @booking.camera.make %></span>
                                <h5 class="text-uppercase"><%= @booking.camera.model %></h5>
                                <div class="price d-flex flex-column align-items-left">
                                  <h5 class="act-price">Bid: <%= @booking.bid %> € </h5>
                                  <h5 class="act-price"> PRICE: <%= @booking.camera.price %> €</h5>
                                  <h5 class="ml-2"> Condition: <%= @booking.camera.condition %></h5>
                                  <h5 class="ml-2"> Year: <%= @booking.camera.year %> </h5>
                                </div>
                            </div>
                              <p class="about">Seller: <%= @booking.camera.user.first_name %> <%= @booking.camera.user.last_name %></p>
                              <p class="about">Buyer: <%= @booking.user.first_name %> <%=@booking.user.last_name %></p>
                              <p class="about">Status: <%= @booking.status %></p>
                              <p class="about">Comment: <%= @booking.comment %></p>
                              <small class="text-right flex-shrink-0"><%= link_to "Edit booking", edit_booking_path(@booking) %></small>
                              <small class="text-right flex-shrink-0"><%= link_to  "Delete booking", booking_path(@booking), method: :delete, data: { confirm: "Are you sure?" }, class: 'text-danger'%></small>
            </div>
        </div>
    </div>
</div>
