<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "cameralogo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, id: "home-link" %>
          </li>
           <li class="nav-item">
            <%= link_to "Cameras", cameras_path, id: "camera-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Lenses", lenses_path, id: "camera-link" %>
          </li>
           <li class="nav-item">
            <%= link_to "Accessories", accessories_path, id: "camera-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Area", bookings_path, id: "booking-link" %>
          </li>
          <div class="navbar-search">
            <div class="row"></div>
              <%= form_tag cameras_path, method: :get do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Find a camera"
                %>
              <%= submit_tag "Go", class: "btn btn-dark" %>
              <% end %>
          </div>
          <li class="nav-item dropdown">
            <%= image_tag "https://avatars.githubusercontent.com/u/95916189?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Home", root_path, id: "home-link", class: "dropdown-item" %>
              <%= link_to "My Area", bookings_path, id: "booking-link", class: "dropdown-item" %>
              <%= link_to "Cameras", cameras_path, id: "booking-link", class: "dropdown-item" %>
              <%= link_to "Lenses", lenses_path, id: "booking-link", class: "dropdown-item" %>
              <%= link_to "Accessories", accessories_path, id: "booking-link", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-secondary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
