<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%# Logo %>
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "cameralogo.png" %>
    <% end %>

    <%# Mobile collapse toggler %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%# Navbar Items %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active btn btn-success">
            <%= link_to "Sell", new_camera_path, id: "home-link" %>
          </li>
          <li class="nav-item btn btn-success">
            <%= link_to "Buy", cameras_path, id: "camera-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "How to Sell", how_it_works_path, id: "camera-link" %>
          </li>
           <li class="nav-item">
            <%= link_to "Favourites", bookings_path(anchor: 'four-tab'), id: "camera-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", bookings_path(anchor: 'four-tab'), id: "camera-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Profile", bookings_path, id: "booking-link" %>
          </li>
          <div class="navbar-search">
            <div class="row"></div>
              <%= form_tag cameras_path, method: :get do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Find a camera"
                %>
              <%= submit_tag "Go", class: "btn btn-dark" %>
              <% end %>
          </div>

          <%# Avatar/User Dropdown Menu %>
          <li class="nav-item dropdown">
            <%= image_tag "https://avatars.githubusercontent.com/u/95916189?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Messages", bookings_path(anchor: 'four-tab'), id: "home-link", class: "dropdown-item" %>
              <%= link_to "Profile Settings", bookings_path, id: "booking-link", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>

        <%# If user not signed in show only login %>
        <% else %>
          <li class="nav-item active btn btn-success">
            <%= link_to "Sell", new_camera_path, id: "home-link" %>
          </li>
           <li class="nav-item btn btn-success">
            <%= link_to "Buy", cameras_path, id: "camera-link" %>
          </li>
          <li class="nav-item btn btn-outline-secondary">
            <%= link_to "How to Sell", how_it_works_path, id: "camera-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-secondary" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-secondary" %>
          </li>

        <% end %>
      </ul>
    </div>
  </div>
</div>


<%#
  Avatar/User Dropdown Menu [ <li class="nav-item dropdown"> ]
    Needs link_to: Messages, Profile Settings & Log Out
 %>
