<div class="container mb-5">
  <div class="d-flex align-items-center justify-content-between column mb-3">
    <h3 class="mb-0">Our Cameras</h3>
    <% if policy(Camera).create? %>
      <%= link_to "Post a new camera", new_camera_path, class: "btn btn-dark" %>
    <% end %>

  </div>
  <div class="row my-2">
      <% @cameras.each do |camera| %>
      <div class="col-12 col-sm-4 mb-4">
        <div class="bg-white rounded shadow h-100">
            <% camera.photos.each do |photo| %>
              <% if photo == camera.photos.first %>
                <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
            <% end %>
            <div class="p-3 rounded-bottom d-flex flex-column">
              <strong><%= camera.make %></strong>
              <p><%= camera.model %></p>
              <div class="d-flex align-items-end justify-content-between pt-4">
                <p>€<%= camera.price %>0</p>
                <small class="text-right flex-shrink-0"><%= link_to "See more", camera_path(camera), class: 'text-danger' %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
