<div class="container mb-5">

  <%# Accessories Header & New Accessory Button %>
  <div class="d-flex align-items-center justify-content-between column mb-3">
    <h3 class="mb-0" >Our Cameras</h3>
    <% if policy(Camera).create? %>
      <%= link_to "Post a new camera", new_camera_path, class: "btn btn-warning" %>
    <% end %>
  </div>

  <%# Product Cards - Styled same as cam - iterate over each lens producing each product card with respective img & info %>
  <div class="row my-2">
    <% @cameras.each do |camera| %>
      <div class="col-12 col-sm-4 mb-4" id="camcards">
        <div class="bg-white rounded shadow h-100">
            <% camera.photos.each do |photo| %>
              <% if camera.photos.empty? %>
                <img src="https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80", class="camera-img rounded-top">
              <% else %>
                <% if photo == camera.photos.first %>
                  <%= cl_image_tag photo.key, class:"camera-img rounded-top" %>
                <% end %>
              <% end %>
            <% end %>
            <div class="p-3 rounded-bottom d-flex flex-column">
              <strong><%= camera.make %></strong>
              <i><p><%= camera.model %></p></i>
              <div class="d-flex align-items-end justify-content-between pt-4">
                <p>€<%= camera.price %>0</p>
                <small class="text-right flex-shrink-0"><%= link_to "View", camera_path(camera), class: 'btn btn-warning' %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
