<div class="containerForm">
  <h1>Add your Products</h1>
  <div>
    <h6>Type:</h6>
    <%= link_to "Post a new camera", new_camera_path, class: "btn btn-warning" %>
    <%= link_to "Post a new accessory", new_accessory_path, class: "btn btn-warning" %>
    <%= link_to "Post a new lens", new_lense_path, class: "btn btn-warning" %>
  </div>

  <h2>Your Camera Specifications</h2>

  <%# Camera simpleform %>
  <div class="row">
    <div class="col-6-sm">
      <%= simple_form_for(@camera) do |f| %>
        <%= f.label :category %>
        <%= f.select :category, Camera::CATEGORIES, prompt: 'Select Category' %>
        <%= f.input :make, placeholder: 'Add your cameras brand' %>
        <%= f.input :model, placeholder: 'Add your cameras model' %>
        <%= f.input :year, placeholder: 'Add production year' %>
        <%= f.label :condition %>
        <%= f.select :condition, Camera::CONDITIONS, prompt: 'Select Condition' %>
        <%= f.input :price, placeholder: 'Add your price' %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Create", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
</div>
