<%# <div class="container mb-5"> %>
<%# Mock Filter Btns %>
<div class="container mb-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <p class="card-title"><%= @accessories.count %> products</p>
          <h5 class="card-title">Filter By:</h5>
          <div class="d-flex flex-column">
          <div class="mb-2">
            <%= form_tag url_for, method: :get do %>
              <div class="form-check">
                <%= check_box_tag :with_accessories, true, false, id: "accessories-checkbox", class: "form-check-input" %>
                <%= label_tag :with_accessories, "Accessories", class: "form-check-label" %>
              </div>

              <div class="form-check">
                <%= check_box_tag :with_cameras, true, false, id: "cameras-checkbox", class: "form-check-input" %>
                <%= label_tag :with_cameras, "Cameras", class: "form-check-label" %>
              </div>

              <div class="form-check">
                <%= check_box_tag :with_lenses, true, false, id: "lenses-checkbox", class: "form-check-input" %>
                <%= label_tag :with_lenses, "Lenses", class: "form-check-label" %>
              </div>
            <% end %>
            </div>
          </div>
          <%# Filter Dropdowns %>
          <h5 class="card-title" style="margin-top:0.9em;">Category:</h5>
          <%= form_tag do %>
            <%= select_tag :category, options_for_select(Accessory::CATEGORIES), style:"width:-webkit-fill-available;"  %>
          <% end %>

          <h5 class="card-title" style="margin-top:0.9em;">Condition:</h5>
          <%= form_tag do %>
            <%= select_tag :category, options_for_select(Accessory::CONDITIONS), prompt: 'Select' %>
          <% end %>

          <h5 class="card-title" style="margin-top:0.9em;">Camera Model:</h5>

            <div class="search-bar" >
                <input style="width:200px;" type="text" placeholder="Search by camera model...">
                <button class=“btn btn-dark”>Select</button>
            <div style="border:hidden;" class="autocomplete"></div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
  <div class="d-flex align-items-center justify-content-between column mb-3">
    <%# Accessories Header & New Accessory Button %>
    <h3 class="mb-0">Our Accesories</h3>
    <% if policy(Accessory).create? %>
      <%= link_to "Post a new accessory", new_accessory_path, class: "btn btn-warning" %>
    <% end %>
  </div>
  <div class="row my-2">
    <%# Product Cards - Styled same as cam - iterate over each lens producing each product card with respective img & info %>
    <% @accessories.each do |accessory| %>
      <div class="col-12 col-sm-4 mb-4" id="camcards">
        <a class="cardShowProd" href="<%= accessory_path(accessory) %>">
          <div class="bg-white rounded shadow h-100">
            <% accessory.photos.each do |photo| %>
              <% if accessory.photos.empty? %>
                <img src="https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80", class="camera-img rounded-top">
              <% else %>
                <% if photo == accessory.photos.first %>
                  <%= cl_image_tag photo.key, class:"camera-img rounded-top" %>
                <% end %>
              <% end %>
            <% end %>
            <div class="p-3 rounded-bottom d-flex flex-column">
              <strong><%= accessory.make %></strong>
              <i><%= accessory.category %></i>

              <div class="d-flex align-items-end justify-content-between pt-4">
                <p>€<%= accessory.price %>0</p>
                <small class="text-right flex-shrink-0"><%= link_to "View", accessory_path(accessory), class: 'btn btn-warning' %></small>
              </div>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
